<!-- Navbar -->
<nav id="navbar-container" class="navbar navbar-expand-lg navbar-light bg-white sticky-top">
    <div class="container">
        <a class="navbar-brand" href="#">Clubs and Events</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> <!--Hamburger Menu Button-->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#clubs">Clubs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#events">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#activities">Activities</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                </li>
            </ul>
            <button class="btn search-btn ms-3" data-bs-toggle="modal" data-bs-target="#searchModal">
                <i class="fas fa-search me-2"></i> Search
            </button>
            <button class="btn login-btn ms-3" data-bs-toggle="modal" data-bs-target="#loginModal">
                <i class="fas fa-user me-2"></i> Login
            </button>
        </div>
    </div>
</nav>