 <!-- Featured Events Section -->
 <section class="featured-section" id="events-container">
    <div class="container">
        <h2 class="section-heading" data-aos="fade-up">Upcoming events</h2>
        <div class="row">
            <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
                <div class="featured-card h-100">
                    <img src="BestofCST.jpg" alt="Music Festival" class="featured-img">
                    <div class="featured-content">
                        <div class="featured-date">Apr 29, 2025</div>
                        <h5 class="featured-title">Best of CST</h5>
                        <p class="featured-text">Experience the magic of live performances from student of each departments at our once in a year festive night.</p>
                        <button class="btn view-more-btn" data-bs-toggle="modal" data-bs-target="#eventModal1">Read More</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
                <div class="featured-card h-100">
                    <img src="ArtExhibition.jpg" alt="Art Exhibition" class="featured-img">
                    <div class="featured-content">
                        <div class="featured-date">Apr 27, 2025</div>
                        <h5 class="featured-title">Contemporary Art Exhibition</h5>
                        <p class="featured-text">Explore stunning artwork created by our talented architecture students showcasing various arts and their perspectives.</p>
                        <button class="btn view-more-btn" data-bs-toggle="modal" data-bs-target="#eventModal2">Read More</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
                <div class="featured-card h-100">
                    <img src="Hackathon.jpg" alt="Hackathon" class="featured-img">
                    <div class="featured-content">
                        <div class="featured-date">May 8, 2025</div>
                        <h5 class="featured-title">Tech Hackathon Challenge</h5>
                        <p class="featured-text">Join our 48-hour coding marathon where teams compete to create innovative solutions to real-world problems.</p>
                        <button class="btn view-more-btn" data-bs-toggle="modal" data-bs-target="#eventModal3">Read More</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-5" data-aos="fade-up">
            <button class="btn view-more-btn" data-bs-toggle="modal" data-bs-target="#allEventsModal">View All Events</button>
        </div>
    </div>
</section>